.container {
    margin: 0 auto;
    width: 1150px;
    max-width: 100%;
}
.h1 {
    color: #5863E3;
    font-size: 17px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 57px;
    margin-bottom: 7px;
}
h2 {
    color: #000;
    font-size: 49px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 57px;
}
.description {
    width: 756px;
    height: 298px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    padding-left: 21px;
    padding-top: 23px;
    outline: none;
}
.rightside {
    display: inline-flex;
    width: 370px;
    height: 301px;
    vertical-align: top;
    flex-direction: column;
}
.subject {
    width: 370px;
    height: 59px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    padding-left: 19px;
    margin-left: 14px;
    outline: none;
}
.namesurname {
    width: 370px;
    height: 59px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    padding-left: 19px;
    margin-left: 14px;
    outline: none;
}
.email {
    width: 370px;
    height: 59px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    margin-left: 14px;
    padding-left: 19px;
    outline: none;
}
::placeholder {
    color: #99999A;
    font-size: 14px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.send {
    width: 370px;
    height: 59px;
    background: #5968F4;
    text-align: center;
    margin-left: 14px;
    margin-top: 13px;
    color: #FBFBFF;
    border: none;
}
.cards {
    display: flex;
    width: 100%;
    margin-top: 51px;
    justify-content: space-around;
}
.card1 {
    width: 226px;
    height: 157px;
    display: inline-block;
    align-content: center;
}
.circle {
    border-radius: 50%;
    width: 68px;
    height: 68px;
    background-color: #5968F4;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 79px;
}
.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    position: relative;
}
h3 {
    color: #4E4D54;
    font-size: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 8px;
}
h4 {
    color: #99999A;
    font-size: 15px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 8px;
}
.flex2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 39px;
}
.f1 {
    max-width: 100%;
    height: 372px;
    background-color: #000;
}
h5 {
    color: #FFF;
    font-size: 26px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 63px;
    margin-bottom: 23px;
    display: inline-block;
}
p {
    color: #99999A;
    font-size: 17px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-bottom: 26px;
}
.upc {
    color: #FFF;
    font-size: 21px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    margin-bottom: 32px;
}
.firstlane {
    display: inline-block;
    width: 295px;
}
.logo {
    margin-right: 7px;
}
.secondlane {
    display: inline-block;
    width: 125px;
    vertical-align: top;
    margin-left: 191px;
    margin-top: 63px;
}
.footerflex {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}
.listelements {
    color: #5863E3;
    font-size: 17px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.thirdlane {
    display: inline-block;
    width: 125px;
    vertical-align: top;
    margin-left: 69px;
    margin-top: 63px;
}
.fourthlane {
    display: inline-block;
    margin-left: 89px;
    vertical-align: top;
    margin-top: 63px;
}
.icons {
    display: inline-flex;
    flex-direction: column;
    width: 27px;
    justify-content: space-between;
    height: 92px;
    align-items: end;
}
.futer1 {
    width: 21px;
    height: 15px;
}
.futer2 {
    width: 27px;
    height: 22px;
}
.futer3 {
    width: 13px;
    height: 22px;
}
.fh {
    display: inline-flex;
    flex-direction: column;
    margin-left: 15px;
    height: 92px;
    justify-content: space-between;
}
.h7 {
    color: #FFF;
    font-size: 17px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}